---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="Page describing the purpose of the website"
	pubDate={new Date('April 12 2026')}
>
<p>Go Ho'opili is a website where I can show off my community.</p>
</Layout>
